<p-card *ngIf="product.title" [style]="{overflow: 'hidden' }">
  <ng-template pTemplate="header">
    <img
      *ngIf="product.imageUrl"
      [src]="product.imageUrl"
      [alt]="product.title"
      class="w-full"
    />
  </ng-template>
  <ng-template pTemplate="title">
    {{ product.title }}
  </ng-template>
  <ng-template pTemplate="subtitle">
    {{ product.price | currency : "USD" : "symbol" }}
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex gap-4 mt-1" *ngIf="showActions && shoppingCart">
      <button
        *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
        pButton
        label="Add to Cart"
        icon="pi pi-shopping-cart"
        (click)="addToCart()"
        class="w-full"
      ></button>
      <ng-template #updateQuantity>
        <product-quantity [product]="product" [shopping-cart]="shoppingCart">
        </product-quantity>
      </ng-template>
    </div>
  </ng-template>
</p-card>
