:host {
  display: block;
  margin-bottom: 1rem;
}

:host ::ng-deep .p-card {
  transition: transform 0.5s;
  width: 100%;
  margin: 0 auto;
}

:host ::ng-deep .p-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep img {
  width: auto;
  height: auto;
  object-fit: cover;
}

:host ::ng-deep .p-button {
  border-radius: 10px !important;
  transition: background-color 0.2s;
}

:host ::ng-deep .p-button:hover {
  transform: translateY(-2px);
}

.flex {
  display: flex;
}

.gap-4 {
  gap: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.w-full {
  width: 100%;
}
