/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@fortawesome/fontawesome-free/css/all.css";

:root {
  --primary-color: #3b82f6;
  --text-color: #1e293b;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  position: relative;
}

/* Add a wrapper div in your app.component.html */
.page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/food-pattern.jpg") !important;
  background-repeat: repeat !important;
  background-size: 400px !important;
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}

@media screen and (min-width: 768px) {
  .md\:col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .md\:col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}
